body {
  margin: 0;
  background-color: whitesmoke;
  color: saddlebrown;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: cadetblue;
  text-align: center;
}

h2 {
  color: whitesmoke;
  background-color: cadetblue;
  padding: 0;
  margin: 0;
}

section {
  min-width: 300px;
  flex-grow: 9;
  border: 1px solid cadetblue;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li > input {
  width: 200px;
}

.inputWithLabel {
  display: block;
}

label:after {
  content: ": ";
}

p {
  margin: 0.4rem;
  text-align: center;
}

th,
td {
  padding: 0.2rem;
  text-align: center;
}

h3 > p {
  font-size: 1rem;
  font-weight: normal;
}

.roomHeader {
  font-size: 1.5rem;
  font-weight: normal;
}
